# デフォルトの無視ファイル
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AtCoder.iml
# データソースのローカルストレージがファイルを無視しました
/../../../../../../../../:\Users\satou_katsumi\RiderProjects\AtCoder\.idea\.idea.AtCoder\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
